.image img
{
   width:80.8%;
   padding-left: 7%;
  
   
   

}


.button button{
    font-size: large;
    width: 20.18%;
    height: 7vh;
    background-image:linear-gradient(to right,orange ,yellow ,green);
    color: white;
    
    
}

.image {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: 25%;
    justify-content: center;
    align-items: center;
    
    padding-top: 10%;
    margin: 0; /* Ensure no additional margins */

}

.button {
    

    width: 200%;
    height: auto; /* Adjust as needed */
    padding-bottom: 10%;
    color: white;
    margin: 0; /* Ensure no additional margins */
    padding-left: 28.55%;
    margin-top: -0.48%; /* Adjust to bring the button closer to the image */
}

body{
    position: fixed;
}
